<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        .centered-list {
            display: inline-block; /* Make the list items center-aligned */
            text-align: left; /* Align text to the left within the inline block */
            margin: 0 auto; /* Center the list */
            list-style-position: inside; /* Ensure list bullets are inside the centered area */
        }

        .tabb {
            padding-left: 5%;
        }

        strong{
            font-weight: bold;
        }

        
    </style>
    <title>About CodeNote App</title>
</head>
<body>
    <div class="container-fluid container-fluid-custom pt-3">
        <!-- <h2 class="title">About CodeNote App</h2> -->
        <h5>
            Welcome to CodeNote App! The application is designed to help you efficiently maintain and organize your notes with a focus on security and convenience.
        </h5>
        <h3>Key Features:</h3>
        <ul class="centered-list">
            <li><strong>Secure Note Management:</strong><br>
                <p class="tabb ">Your notes are stored securely, ensuring that your data is protected at all times.</p>
            </li>
            <li><strong>LeetCode Integration:</strong><br>
                <p class="tabb">Easily fetch and save questions from LeetCode using their URLs, making your coding practice seamless and integrated.</p>
            </li>
            <!-- <li><strong>GeeksforGeeks Integration:</strong><br>
                <p class="tabb">Fetch and save questions from GeeksforGeeks to enhance your learning experience.</p>
            </li>
            <li><strong>Codeforces Integration:</strong><br>
                <p class="tabb">Retrieve and store problems from Codeforces to keep your competitive programming skills sharp.</p>
            </li> -->
            <li><strong>Easy Sharing:</strong><br>
                <p class="tabb">Enable sharing to easily copy the link and share it with anyone, making your notes visible to others.</p>
            </li>
        </ul>
        <p>
           
            <h5> Whether you're jotting down quick notes or saving important coding questions, our app is here to support your productivity and learning journey.</h5>
        </p>
    </div>
</body>
</html>
